*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items:center ;
    background-image: url(image/0123.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed; 
    padding: top 0%;
}
.container{
    max-width: 700px;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 25px 30px;
}
.title{
    font-size: 30px;
    font-weight:bolder;
    position: relative;
    color: white;
    padding-top: 5px;
   
}
.user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-box{
    width: calc(100% / 2 - 20px);
   margin: 20px 0 12px 0;
}

.input-box input{
    height: 40px;
    width: 100%;
    /* outline: none; */
    border-radius: 5px;
    padding-left: 15px; 
    margin-top: 5px;
   
}

.input-box input:hover{
  border: 5px;
 
}
.details{
    color: black;
    margin-bottom: 5px;
}
.butt{
    display: flex;
   text-align: center;
   margin-left: 18%;
    
}
.next{
    background: linear-gradient(135deg, rgb(179, 229, 212), rgb(1, 47, 24));
    padding:2% ;
    margin-left: 5%;
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 25px;
    width: 35%;
    text-align: center;
}
.back{
    background: linear-gradient(135deg, rgb(179, 229, 212), rgb(1, 47, 24));
    padding:2% ;
  
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 25px;
    width: 35%;
    text-align: center;
}
.next:hover{
    background: linear-gradient(135deg, rgb(133, 179, 211), rgb(19, 1, 67));
  

}
.back:hover{
    background: linear-gradient(135deg, rgb(133, 179, 211), rgb(19, 1, 67));
}
.connecting{
    text-align: center;
}

.connecting h5{
    color: white;
}
.connecting a{
    color: rgb(123, 100, 255);
}
.connecting a:hover{
    color: rgb(255, 100, 146);
}

.hea{
    color: white;
}
.connecting h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    font-weight: lighter;
  }


